@model ScrumR.Web.Models.CreateBacklogItemModel

@{
    ViewBag.Title = "CreateBacklogItem";
}
        @Raven.Client.MvcIntegration.RavenProfiler.CurrentRequestSessions()
@if (ViewData.ModelState.IsValid == false)
{ 
	<div>
		@Html.ValidationSummary(true)
	</div>
}
@using (Html.BeginForm())
{
    <h2>Create a Backlog Item</h2>
    
    <fieldset>
        <legend>Details</legend>

        @Html.EditorForModel()
    </fieldset>
  
    <input type="submit" value="Save" />
}