@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Welcome to ScrumR</title>
    </head>
    <body>
        <div>
              Welcome to ScrumR
        </div>
    </body>
</html>