@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Welcome to ScrumR</title>
    </head>
    <body>
        <div>
            Welcome to ScrumR
        </div>
        <ul>
            <li><a href="Setup/InsertTestData">Insert test data</a></li>
            <li><a href="BacklogItem/Details/">BacklogItem details as Json</a></li>
            <li><a href="BacklogItem/CreateBacklogItem/">Create a new BacklogItem</a></li>
        </ul>
        
    </body>
</html>